<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FirebaseCocialLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68A424FF21816C86007053A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68A4251321816C8A007053A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68A4251E21816C8A007053A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
